* {
    clear: both;
    position: relative;
    font-family:'Roboto';
    margin: 0;
}

.hero-img{
    width: 80%;
    float: right;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12%; margin-right: 12%;
    padding-top: 50px; padding-bottom: 70px;
}

.hero-text{
    padding-top: 5px; padding-bottom: 15px;
    font-size: 15px;
    word-spacing: 1px;
    color: #e5e7eb;
}

.navbar{
    margin-left: 12%; margin-right: 12%;
}

.logo{
    font-size: 22px;
}

.hero-secondary{
    padding-left: 30px;
}

.navdiv{
    padding-top: 25px; padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero-and-footer {
    background-color: #1f2937;
}

.hero-and-footer > p, h2, h3  {
    color: #f9faf8;
}

.hero-secondary {
    font-size: 16px;
    color: #e5e7eb;
    text-decoration: none;
}

.header-second{
    align-items: center;
}

.call-to-action {
    background-color: #3882f6;
    margin: 5%;
    margin-left: 17%;
    margin-right: 17%;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 9px;
    display: flex;
    justify-content: space-evenly;
    gap: 30%;
    align-items: center;
}

.cover{
    width: 50%;
}

.signup-button {
    border-color: #f9faf8;
    border-width: thin;
    border-style: solid;
}

.row-img {
    border-radius: 10px;
    border: 4px solid #3882f6;
    height: 200px;
    
}

.quote-background {
    background-color: #e5e7eb;
}

.quote-container {
    justify-content: center;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.quote-container > p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    text-align: center;

}

.footer {
    bottom: 0%;
    text-align: center;
    padding: 35px;
    width: 100%;
}

.second-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding-bottom: 3%;
}

.item {
    text-align: center;
    padding: 0%;
}


button {
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
    color: #e5e7eb;
    background-color: #3882f6;
    border-style: none;
}

#hero-main-text {
    font-size: 40px;
    color: #f9faf8;
    font-weight: 900;
}

#information {
    font-size: 36px;
    color: #1f2937;
    font-weight: 1000;
    text-align: center;
    margin: 45px;
}

#signature {
    text-align: right;
    font-size: 25px;
    font-weight: 900;
}